.event-component{
    max-height: fit-content;
    max-width: fit-content;
    padding: 5px;
}

.event-component> p{
    font-size: 5em;
    font-weight: bolder;
}

p>i{
    font-size: larger;
}

/* add-icon & add-area css in app.css  */

.add-icon{
    width: 40px;
    background: black;
    height: 40px;
    border-radius: 50%;
    color: white;
    text-align: center;
    padding: 0.6rem 0px;
}

.add-icon:hover{
    color: yellow;
}

.add-icon i{
    font-size: large;
}

.add-area{
    /* display: none; */
    padding: 10px;
    width: 95vw;
    margin: 20px;
    /* display: flex;
    text-align: center; */
    /* justify-content: end; */
    /* border: 2px solid black; */
    /* background-color: black; */
}

.add-area button, .event-box button{
    margin: 10px 20px;
    padding: 5px 35px;
    border-radius: 20px;
    /* background-color: rgb(51, 230, 111); */
}
.events{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

.event-box{
    width: 20rem;
    border: 2px solid black;
    margin: 20px 30px;
    padding: 20px ;
}

.event-img{
    height: 15em;
}